#logintext{
	-fx-font-size: 26px;
	-fx-font-family: "Montserrat";
	
}
.button{
	-fx-background-color: transparent;
	-fx-text-fill: cornflowerblue;

}
#loginImage{
	-fx-background-image: url("../img/arrow.png");
	-fx-background-size: 70px,70px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}